/* Figma Styles of your File */
:root {
  /* Colors */
  --services-overlay: radial-gradient(
    closest-side,
    rgba(86, 89, 96, 0) 0%,
    rgba(86, 89, 96, 0.6) 75%,
    rgba(86, 89, 96, 0.6) 100%
  );

  /* Fonts */
  --text-32-font-family: Urbanist-SemiBold, sans-serif;
  --text-32-font-size: 32px;
  --text-32-line-height: normal;
  --text-32-font-weight: 600;
  --text-32-font-style: normal;
  --title-24-font-family: Urbanist-SemiBold, sans-serif;
  --title-24-font-size: 24px;
  --title-24-line-height: 34px;
  --title-24-font-weight: 600;
  --title-24-font-style: normal;
  --button-text-18-font-family: Urbanist-Medium, sans-serif;
  --button-text-18-font-size: 18px;
  --button-text-18-line-height: normal;
  --button-text-18-font-weight: 500;
  --button-text-18-font-style: normal;
  --text-des-20-font-family: Urbanist-Regular, sans-serif;
  --text-des-20-font-size: 20px;
  --text-des-20-line-height: 32px;
  --text-des-20-font-weight: 400;
  --text-des-20-font-style: normal;
  --title-20-font-family: Urbanist-SemiBold, sans-serif;
  --title-20-font-size: 20px;
  --title-20-line-height: 28px;
  --title-20-font-weight: 600;
  --title-20-font-style: normal;
  --body-14-font-family: Urbanist-Regular, sans-serif;
  --body-14-font-size: 14px;
  --body-14-line-height: 20px;
  --body-14-font-weight: 400;
  --body-14-font-style: normal;
  --body-18-font-family: Urbanist-Regular, sans-serif;
  --body-18-font-size: 18px;
  --body-18-line-height: 28px;
  --body-18-font-weight: 400;
  --body-18-font-style: normal;
  --section-heading-font-family: Urbanist-SemiBold, sans-serif;
  --section-heading-font-size: 40px;
  --section-heading-line-height: 56px;
  --section-heading-font-weight: 600;
  --section-heading-font-style: normal;
  --med-14-font-family: Urbanist-Medium, sans-serif;
  --med-14-font-size: 14px;
  --med-14-line-height: 20px;
  --med-14-font-weight: 500;
  --med-14-font-style: normal;
  --body-16-font-family: Urbanist-Medium, sans-serif;
  --body-16-font-size: 16px;
  --body-16-line-height: 24px;
  --body-16-font-weight: 500;
  --body-16-font-style: normal;
  --banner-heading-font-family: Urbanist-SemiBold, sans-serif;
  --banner-heading-font-size: 52px;
  --banner-heading-line-height: 56px;
  --banner-heading-font-weight: 600;
  --banner-heading-font-style: normal;
  --banner-subtext-font-family: Urbanist-Regular, sans-serif;
  --banner-subtext-font-size: 20px;
  --banner-subtext-line-height: 32px;
  --banner-subtext-font-weight: 400;
  --banner-subtext-font-style: normal;
  --semibold-18-font-family: Urbanist-SemiBold, sans-serif;
  --semibold-18-font-size: 18px;
  --semibold-18-line-height: normal;
  --semibold-18-font-weight: 600;
  --semibold-18-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-collection-1-mode="mode-1"] {
  /* mode-1 */
  --secondary: #a6abb4;
  --primary-text: #212529;
  --primary-bg: #111013;
  --button-fill: #565960;
  --bg-2: #1c1b1e;
  --vibrant-yellow: #fdc408;
}
